.km-flat .km-button {
	border-radius: 0px;
	-webkit-border-radius: 0px;
}
.km-flat {
	font: normal 1em "Segoe UI","HelveticaNeue Light","Roboto Light","Slate Light","Segoe WP",NokiaPureTextLight,sans-serif;
}